*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .hero {
        height: 700px;
        width: 100%;
        position: relative;
      }
      .hero img {
        height: 700px;
        width: 100%;
        object-fit: cover;
      }

            .nav {
        /* background-color: green; */
        display: flex;
        align-items: center;
        text-align: center;
        height: 80px;
        width: 100%;
        position: absolute;
        top: 0;
        justify-content: space-between;
      }
      .nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
      }
      .nav li {
        display: inline-block;

        margin: 10px;
        color: white;
        font-size: 20px;
        /* font-weight: bolder; */
        font-family: 'Poppins', sans-serif;
        margin-right: 50px;
      }
      .nav h1 {
        color: white;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
      }
      .nav #h {
        background-color: red;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
      }
      .nav li:hover {
        background-color: red;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #hover1 :hover {
        color: red;
        background-color: transparent;
        /* font-weight: bolder; */
      }

      .hero-text {
        display: flex;
        position: absolute;
        left: 50px;
        top: 200px;
        flex-direction: column;
        justify-content: flex-start;
      }
      .hero-text h1 {
        font-size: 5em;
      }
      .hero-text p {
        color: white;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
      }
      .b1 {
        display: flex;
        height: 50px;
        width: 600px;
        margin-top: 10px;
        justify-content: center;
      }
      .b1 button {
        height: 50px;
        width: 200px;
        margin: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
         border: none;
      }
      .btn-about {
        background-color: red;
        color: white;
      }
      .btn-call:hover {
        background-color: red;
        color: white;
      }
/* ==============================================About====================================================== */
      .content {
        display: flex;
        justify-content: space-between;
       margin: 100px;
       height: 400px;
      }
      /* .right {
        position: relative;
        width: 600px; 
      } */
      /* .right h1 {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        position: absolute;
        top: -200px;
        left: 100px;
      } */

.proh1{

   text-transform: uppercase;
       font-family: 'Poppins', sans-serif;
    font-size: 3em;
    
    font-weight: bolder;
    margin-bottom: 30px;
}

      /* .right .p-shop {
        position: absolute;
        top: -150px;
        left: 100px;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
      } */

      .right .p1{
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

      /* .right .p-shop2 {
        position: absolute;
        top: -100px;
        background-color: aqua;
        line-height: 25px;
        left: 100px;
        font-size: 20px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;

      } */

      .right .p2{
    font-size: 1em;
    line-height: 30px;
    margin-bottom: 10px;
   font-family: 'Poppins', sans-serif;
}
.right button{
  border: 2px solid red;
  color: red;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  margin-top: 20px;

   padding: 20px 35px;
}

.right button:hover{
  color: black;
  border: 2px solid black;
}
.left img{
    height: 400px;
    width: 600px;
}


/* =============================================Service================================================ */

.service {
        margin: 100px;
      }
      .service-head {
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
        font-weight: bolder;
         font-family: 'Poppins', sans-serif;
      }
      .service-info {
        display: flex;
        justify-content: space-between;
        gap: 0px 20px;
      }

      .box {
        height: 450px;
        width: 310px;
      }

      .box img {
        height: 270px;
        width: 310px;
      }
      .box-info {
        margin-top: -4px;
        color: white;
        background-color: #242c2f;
        /* padding: 60px 0px; */
        text-align: center;
      }

      .box-info h2 {
         font-family: 'Poppins', sans-serif;
        padding: 20px 0px;
      }

      .box-info p {
         font-family: 'Poppins', sans-serif;
        padding: 5px 0px;
      }
      .box-info button {
        padding: 15px 35px;

        border: 2px solid white;
        color: white;
        background-color: transparent;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        margin: 20px 0px;
      }

      .box-info:hover {
        background-color: red;
      }

      /* =====================================================feedback===================================================== */

            .feedback {
        margin: 100px;
        padding: 0px 100px;
      }
      .feed-head {
        font-size: 1.1em;
         font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .feed-content {
        display: flex;

        gap: 0px 50px;
      }
      .feed-text {
        margin: 10px 0px;
      }
      .feed-text h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
      }

      .feed-text p {
        font-size: 20px;
        width: 700px;
        line-height: 30px;
         font-family: 'Poppins', sans-serif;
      }

      /* ====================================================bolg=========================================================== */

      .blog {
        margin: 100px;
        padding: 0px 100px;
        position: relative;
      }
      .blog-head h1 {
        font-size: 2.5em;
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 60px;
      }
      .blog-info {
        display: flex;
        gap: 50px;
      }
      .blog-content {
        height: 590px;
        width: 550px;
        background-color: #ffffff;
        box-shadow: 0px 0px 20px 0px;
      }
      .blog-content img {
        width: 100%;
      }

      .blog-content p,
      h3 {
        margin: 10px 20px;
        font-family: "Poppins", sans-serif;
      }
      .blog-content p {
        line-height: 25px;
        font-size: 1em;
      }

      .blog button {
        border: 2px solid red;
        color: red;
        background-color: transparent;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        margin-top: 20px;

        padding: 15px 30px;
      }

      .blog #btn1 {
        position: absolute;
        left: 285px;
      }
      .blog #btn2 {
        position: absolute;
        left: 875px;
      }

      .blog button:hover {
        color: black;
        border: 2px solid black;
      }


      /* ===========================================contact======================================================== */

      .contact {
        margin: 100px;
      }
      .input-text {
        margin-left: 320px;
        display: flex;
        flex-direction: column;
        width: 700px;

        gap: 30px 0px;
      }

      .input-text input,
      textarea {
        padding: 15px 50px;
        border-radius: 40px;
        background-color: #efefef;
        border: none;
        color: #2e2e2d;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
      }
      .contact .service-head {
        margin-top: 150px;
        font-size: 2.5em;
        margin-bottom: 60px;
      }

      .btn-send {
        margin-left: 245px;
        padding: 15px 0px;
        width: 200px;
        font-size: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        background-color: red;
        border-radius: 50px;
        border: none;
        color: white;
      }

      .btn-send:hover {
        background-color: #efefef;
        color: #2e2e2d;
      }


      /* =========================================map===================================== */


