.card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: pink;
}

.heart {
  font-size: 30px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.animate {
  transform: scale(1.5);
}