.card {
  border: 1px solid #ddd;
  width: 250px;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  margin: 20px;
}

.image-area {
  position: relative;
  font-size: 60px;
  cursor: pointer;
}

.big-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  transform: translate(-50%, -50%) scale(0);
  animation: pop 0.6s ease forwards;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}