
*{
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
  margin: 0;
}
.box {
   position: relative; 
    overflow: hidden;

  border-radius: 10px;
  padding: 20px;
  width: 700px;
  height: 300px;
  background-color: white;
  
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  height: 150px;
}

.btn button{
  width: 80px;
}
.btn .yes{
  background-color: red;
  color: white;
   padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.btn .no {
    position: absolute;      
  width: 80px;              
  height: 40px;             
  left: 60%;
  top: 70%;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: left 0.2s ease, top 0.2s ease;  
}


/* ============== */

.final{
  padding: 20px;
  width: 500px;
}
.final p{
  font-size: 20px;
}






