* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
}

.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #ddd;

        position: sticky;
        top: 0px;
        z-index: 1
      }
      .logo {
        display: flex;
        align-items: center;
      }
      .logo img {
        object-fit: cover;
        height: 100px;
      }
      .logo-text h2 {
        font-size: 2em;
        position: relative;
      }
      .logo-text p {
        font-size: 0.7em;
        font-weight: 600;
        margin-top: 5px;
        color: gray;
      }
      .badge {
        position: absolute;
        top: 0px;
        right: 45px;
        background-color: #f2c32b;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }

      .nav-links a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        text-decoration: none;
        color: #0b331f;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px 12px;
      }

      .wheat-icon img {
        height: 40px;
        width: 40px;
        margin-right: 8px;
        vertical-align: middle;
        display: inline-block;
      }

      .nav-actions {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      .contact-btn {
        background-color: #084421;
        color: #fff;
        font-size: 1em;
        border: none;
        border-radius: 50px;
        padding: 15px 25px;
        margin-right: 50px;
      }
      .contact-btn::after {
        content: "➜";
        color: black;
        background-color: #f2c32b;
        margin-left: 25px;
        border-radius: 50px;
        padding: 10px;
      }

      .contact-btn:hover {
        background-color: #f2c32b;
        color: #084421;
      }
      .icons {
        display: flex;
        margin-right: 130px;
        gap: 10px;
        position: relative;
      }
      .icons button {
        background-color: transparent;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        border: 1px solid #084421;
        cursor: pointer;
      }
      .icons :hover {
        background-color: #d6f2e1;
        transform: scale(1.05);
      }
      button img {
        height: 20px;
        width: 20px;
      }

      button:last-child {
        position: absolute;
        left: 150px;
        background-color: #084421;
        border: none;
      }
      button:last-child:hover {
        background-color: #f2c32b;
      }

      .badge1 {
        position: absolute;
        top: -3px;
        left: 100px;
        background-color: #f2c32b;
        color: #000;
        font-size: 15px;
        padding: 2px 5px;
        font-weight: 600;
        border-radius: 50%;
      }

      /* =========================================content=========================================== */


      .content {
        position: relative;
        width: 100%;
      }
      .content img {
        height: 700px;
        width: 100%;
        object-fit: cover;
        display: block;
      }
      .content-text {
        position: absolute;
        top: 100px;
        left: 110px;
        color: white;
      }
      .content-text h2 {
        font-family: "Patrick Hand", cursive;
        color: #f2b632;
        font-size: 20px;
      }
      .content-text h1 {
        font-size: 50px;
        font-family: "Rock Salt", cursive;
        line-height: 1.2;
        margin-bottom: 20px;
      }

      .content-text p {
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        line-height: 1.6;
        margin-bottom: 30px;
      }
      .content-text .btn1 {
        background-color: #fff;
        color: #333;
        padding: 12px 25px;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        font-size: 1em;
      }

      .content-text .btn1::after {
        content: "➜";
        color: black;
        background-color: #f2c32b;
        margin-left: 25px;
        border-radius: 50px;
        padding: 10px;
      }

      /* ==================================content-1============================================ */

            .content-1 {
        position: relative;
        text-align: center;
        color: #084421;
        background-color: #faf7f0;
        /* overflow: hidden; */
      }

      .content-1 img {
        height: 500px;
        width: 100%;

        display: block;
      }

      .content-1-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
        width: 100%;
        padding: 0 20px;
      }

      .content-1-text h2 {
        font-family: "Patrick Hand", cursive;
        color: #2e7d32;
        font-size: 22px;
        margin-bottom: 20px;
      }

      .content-1-text h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.3;
        color: #022b11;
        margin-bottom: 25px;
      }

      .content-1-text p {
        font-size: 17px;
        color: #333;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.6;
       
      }


      /* ==================================================box-container============================================== */


       .box-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        margin-top: 150px;
      }

      .box {
        position: relative;
        height: 400px;
        width: 350px;
        background-color: #003d1f;
        border-radius: 20px;
        display: block;
        justify-content: center;
        align-items: center;
      }

      .circle {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);

        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      .circle img {
        height: 150px;
        width: 150px;
      }

      .box h1 {
        color: white;
        text-align: center;
        margin-top: 140px;
        font-size: 25px;
      }

      .box h1:hover {
        color: #f2c32b;
      }
      .line {
        width: 100%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .line-square {
        height: 3px;
        width: 70px;
        background-color: #f2c32b;
      }
      .box p {
        color: white;
        text-align: center;
        margin-top: 40px;
        font-size: 18px;
        line-height: 30px;
      }

      /* ================================================contact============================================== */

      .contact {
        width: 100%;
        /* background-color: aqua; */
        height: 950px;
        display: flex;
        margin-top: 20px;
      }
      .left {
        /* background-color: brown; */
        width: 45%;
        height: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .box-img {
        height: 400px;
        width: 520px;
        background-color: #f2c32b;
        margin-top: 50px;
        border-radius: 20px;
      }

      .box-img img {
        object-fit: cover;
        height: 400px;
        width: 520px;
        border-radius: 20px;
      }
      .border-box {
        height: 350px;
        width: 470px;
        border: 1px dashed white;
        border-radius: 10px;
        margin: 25px auto;

        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
      }
      .box-text {
        display: flex;
      }
      .box-text img {
        /* background-color: black; */
        height: 55px;
        width: 55px;
        margin-left: 40px;
      }
      .box-heading {
        /* background-color: aquamarine; */
        margin-left: 40px;
        color: #5c4033;
      }

      .box-heading h3 {
        font-family: "lato", sans-serif;
        margin-bottom: 7px;
      }

      .box-heading p {
        font-family: "lato", sans-serif;
        /* margin-bottom: 10px; */
        line-height: 25px;
      }