.auth-body {
  font-family: Inter, sans-serif;
  background: #f2f6f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-box {
  background: #fff;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  width: 93%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #2f7d32;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #256628;
}

.small {
  text-align: center;
  font-size: 14px;
}
